# Core functionality - changes here should be rare!
/src/app.py                   @jpfreri
/src/backend/database.py      @jpfreri
/src/backend/routers/auth.py  @jpfreri

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jpfreri
